<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ESEMKATravel.Properties.Settings.ESEMKATravelConnectionString"
            connectionString="Data Source=LAPTOP-JBBI27KN\IT;Initial Catalog=ESEMKATravel;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>